@font-face {
  font-family: 'arcane_nineregular';
  src: url('./fonts/arcane_nine-webfont.woff2') format('woff2'),
       url('./fonts/arcane_nine-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: #1c1e21;
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 0 2rem;
  background-color: rgba(1, 33, 53, 0.5);
  color: white;
  border-radius: 30%;
}

header img{
  width: 100px;
  height: 100px;
}

nav a{
  font-size: 1.5rem;
  margin: 0 2rem;
  color: white;
  text-decoration: none;
}

nav a:hover{
  color: yellow;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.loginButton{
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 1.8rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  position: absolute;
}

.footer-container {
padding-top: 100px;
}

.footer-bg {
  width: 100%;
  height: 100%;
  float: left;
}

@media only screen and (max-width: 1024px) {
  header {
    background-color: transparent;
  }

  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }

  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #001c36;
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav{
    transform: none;
    z-index: 2;
  }

  nav .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a{
    font-size: 1.5rem;
  }
  .loginButton{
    top: 0;
    right: 0;
    position: relative;
  }
}

body {
  background: linear-gradient(to right top, #016086, #005781, #044d7b, #0e4474, #163a6c) fixed;
  font-family: 'arcane_nineregular';
  color: var(--white);
  display: flex;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

.bubbles{
  position: absolute;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top: 51vw;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width: 2.08vw;
  height: 2.08vw;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:2.08vw;
  height:2.08vw;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width: 4.16vw;
  height: 4.16vw;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:4.6vw;
  height:4.6vw;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:4.6vw;
  height:4.6vw;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}